/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.mus-btn {
  border-radius: 5px;
  background-color: white;
  color: #414042;
  padding: 12px 30px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  transition: 100ms;
  backface-visibility: hidden;
  border: none;
  cursor: pointer; }
  @media (min-width: 769px) {
    .mus-btn:hover {
      transition: 200ms;
      color: white;
      background-color: #1cb2e8; } }
  .mus-btn:active {
    transition: 0s;
    color: white;
    background-color: #0f6d8f; }
  .mus-btn--block {
    display: block;
    width: 100%; }
  .mus-btn--primary {
    background-color: #1cb2e8;
    color: white; }
    @media (min-width: 769px) {
      .mus-btn--primary {
        transition: 200ms; }
        .mus-btn--primary:hover {
          background-color: #1391be; } }
  .mus-btn--white {
    background-color: white;
    color: #414042; }
    @media (min-width: 769px) {
      .mus-btn--white:hover {
        transition: 200ms;
        color: white;
        background-color: #414042; } }

.header, .plans-container {
  *zoom: 1; }
  .header:before, .plans-container:before, .header:after, .plans-container:after {
    content: " ";
    display: table; }
  .header:after, .plans-container:after {
    clear: both; }

.mus-modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.mus-logo {
  overflow: hidden;
  text-indent: -9000px;
  display: block; }

.centered {
  text-align: center; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  height: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%; }

body {
  height: 100%;
  font-size: 16px; }
  body.page-default {
    padding: 30px 15px; }
    @media (min-width: 768px) {
      body.page-default {
        padding: 60px 30px; } }

::selection {
  background: #1cb2e8;
  color: white; }

.background-overlay {
  transition: background-image 200ms;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-sm.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  z-index: -1; }
  @media (min-width: 769px) {
    .background-overlay {
      background-image: url("../img/bg.jpg"); } }

.mus-logo {
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0;
  width: 300px;
  height: 130px; }
  .mus-logo--dark {
    background-image: url("../img/logo-dark.svg"); }

.splash-pane {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 60px 32px 30px 32px; }
  @media (min-width: 768px) {
    .splash-pane {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 570px; } }
  .splash-pane .mus-logo {
    display: inline-block;
    width: 300px;
    width: 300px;
    height: 130px;
    max-width: 100%;
    margin-bottom: 10px; }
  .splash-pane .btn-action {
    background-color: white;
    color: #414042;
    text-transform: uppercase;
    display: block;
    margin: 0 auto 10px auto;
    max-width: 200px;
    font-size: 18px; }
    @media (min-width: 768px) {
      .splash-pane .btn-action {
        display: inline-block;
        margin: 0 10px 0 0;
        width: 180px; } }
  .splash-pane .small-print {
    font-size: 75%; }

.splash-subtitle {
  font-size: 20px;
  font-family: "Lato";
  font-weight: normal;
  margin-bottom: 40px;
  margin-top: 0; }

.splash-buttons {
  margin-bottom: 40px; }

.copy {
  float: right;
  margin: 0 8px 8px 0;
  color: #a7a7a7;
  font-size: 13px;
  line-height: 1; }
  @media (min-height: 580px) {
    .copy {
      position: absolute;
      margin: 0;
      bottom: 12px;
      right: 12px; } }
  .page-planes .copy {
    float: none;
    width: 300px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    right: initial;
    bottom: initial; }
    @media (min-width: 960px) {
      .page-planes .copy {
        position: absolute;
        margin: 0;
        bottom: 12px;
        right: 12px; } }

.header {
  margin: 0 auto 30px auto; }
  @media (min-width: 768px) {
    .header {
      margin: 0 auto 90px auto; } }
  .header .mus-logo {
    width: 100px;
    float: left;
    vertical-align: middle;
    height: 55px;
    margin-right: 10px; }
    @media (min-width: 768px) {
      .header .mus-logo {
        width: 200px;
        height: 100px; } }

.title-first {
  font-size: 22px;
  color: #1cb2e8;
  font-weight: normal;
  float: left;
  vertical-align: middle;
  margin: 22px 0 0 0; }
  @media (min-width: 768px) {
    .title-first {
      font-size: 46px;
      font-weight: 300;
      margin: 28px 0 0 0; } }

.modal-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px; }

.mus-container {
  background-color: white;
  border-radius: 5px;
  color: #333;
  padding: 15px 30px;
  margin: 0 auto 30px auto; }
  .mus-container--small {
    max-width: 320px; }
  .mus-container--blue {
    color: white;
    background-color: #29b6f6; }
  .mus-container p {
    margin-top: 0; }
  .mus-container .form-items-padded {
    padding: 30px 0; }

.btn-social {
  display: block;
  background-color: #1cb2e8;
  color: white;
  margin-bottom: 6px;
  transition: 200ms; }
  .btn-social--facebook {
    background-color: #415b91; }
    .btn-social--facebook:hover {
      transition: 200ms; }
      @media (min-width: 769px) {
        .btn-social--facebook:hover {
          background-color: #31456e; } }
  .btn-social--twitter {
    background-color: #5eaed8; }
    @media (min-width: 769px) {
      .btn-social--twitter {
        transition: 200ms; }
        .btn-social--twitter:hover {
          background-color: #3599ce; } }
  .btn-social--google {
    background-color: #db4e3f; }
    @media (min-width: 769px) {
      .btn-social--google {
        transition: 200ms; }
        .btn-social--google:hover {
          background-color: #c33424; } }

.login-buttons {
  margin-bottom: 30px; }

.form-row {
  width: 100%;
  display: block;
  margin: 0 0 20px 0; }

.input-line {
  background: none;
  border: none;
  border-bottom: 1px solid #a4a3a0;
  width: 100%;
  outline: 0;
  text-align: center;
  font-size: 14px; }
  .input-line::-webkit-input-placeholder {
    color: 414042;
    text-transform: uppercase; }

.terms {
  font-size: 14px; }
  .terms span {
    vertical-align: bottom;
    line-height: 14px; }

.mus-checkbox {
  border: none;
  margin-right: 5px;
  outline: 0; }

input[type=checkbox]:after {
  content: " ";
  background-color: #dcdcdc;
  display: inline-block;
  visibility: visible;
  width: 15px;
  height: 15px; }

input[type=checkbox]:checked:after {
  background-color: #1cb2e8;
  border: 3px solid #dcdcdc; }

.plans-container {
  text-align: center;
  margin: 0 auto; }

.plan-separator {
  display: none; }
  @media (min-width: 960px) {
    .plan-separator {
      height: 300px;
      margin-top: 30px;
      width: 1px;
      display: inline-block;
      margin-right: 15px;
      background-color: #1cb2e8;
      min-height: 100px; } }

.plan-card {
  width: 300px;
  margin-bottom: 15px;
  padding: 20px;
  position: relative;
  min-height: 250px;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 960px) {
    .plan-card {
      display: inline-block;
      min-height: 400px;
      vertical-align: top;
      margin-right: 15px;
      height: 400px;
      width: 275px; } }
  .plan-card--nopadding {
    padding: 0;
    overflow: hidden; }
  .plan-card__info {
    position: absolute;
    bottom: 25px;
    width: calc(100% - 40px); }
  .plan-card__title {
    font-weight: 300;
    font-size: 25px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    margin-bottom: 15px; }
    @media (min-width: 960px) {
      .plan-card__title {
        display: block;
        font-size: 35px; } }
    .plan-card__title--uruguay {
      color: #1cb2e8;
      font-size: 28px; }
      @media (min-width: 960px) {
        .plan-card__title--uruguay {
          font-size: 30px; } }
    .plan-card__title--internacional {
      color: #1cb2e8;
      font-weight: normal;
      font-size: 19px; }
      @media (min-width: 960px) {
        .plan-card__title--internacional {
          font-size: 30px;
          font-weight: 300; } }
  .plan-card .mus-logo {
    width: 78px;
    display: inline-block;
    height: 43px;
    vertical-align: middle;
    margin-bottom: 12px; }
    @media (min-width: 960px) {
      .plan-card .mus-logo {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 60px; }
        .plan-card .mus-logo--mt {
          margin-top: 15px; }
        .plan-card .mus-logo--mb {
          margin-bottom: 15px; } }
  .plan-card__code {
    border: none;
    border-bottom: 1px solid white;
    background: none;
    width: 100%;
    outline: 0;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .plan-card__code-text {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px; }
  .plan-card__body {
    line-height: 21px;
    margin-bottom: 15px; }
    @media (min-width: 1000px) {
      .plan-card__body {
        font-size: 12px;
        line-height: 1.1; } }
  .plan-card--uruguay {
    background-image: url(../img/gaucho.jpg); }
    @media (min-width: 960px) {
      .plan-card--uruguay {
        background-image: url(../img/gaucho-sm.jpg); } }
  .plan-card--internacional {
    background-image: url(../img/astronauta.jpg); }
    @media (min-width: 960px) {
      .plan-card--internacional {
        background-image: url(../img/astronauta-sm.jpg); } }
  .plan-card--tall {
    min-height: 300px; }

.user-info {
  position: absolute;
  top: 25px;
  right: 25px; }
  .user-info__name {
    display: none;
    font-size: 16px;
    font-weight: 300;
    margin-right: 5px; }
    @media (min-width: 550px) {
      .user-info__name {
        display: inline-block; } }
  .user-info__img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: inline-block;
    vertical-align: middle; }

.plan-detail {
  background-color: transparent;
  min-height: 700px;
  height: auto; }
  @media (min-width: 960px) {
    .plan-detail {
      width: 900px;
      min-width: 900px;
      margin-right: 0; } }
  .plan-detail__img {
    max-width: 100%;
    display: block; }
    @media (min-width: 960px) {
      .plan-detail__img {
        display: none; } }
    .plan-detail__img--desktop {
      display: none;
      border-radius: 5px; }
      @media (min-width: 960px) {
        .plan-detail__img--desktop {
          display: block; } }
  .plan-detail__details {
    background-color: #29b6f6;
    color: white;
    padding: 20px 0;
    font-weight: bold;
    font-size: 29px;
    border-radius: 0; }
    .plan-detail__details span {
      display: inline-block;
      vertical-align: middle; }
    @media (min-width: 960px) {
      .plan-detail__details {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; } }
  .plan-detail__currency {
    padding-bottom: 1px; }
  .plan-detail__select {
    font-size: 15px; }
  .plan-detail__cost {
    font-size: 55px; }
  .plan-detail__monthly {
    vertical-align: top;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 1; }
  .plan-detail__payments {
    background: #414042;
    border-radius: 5px;
    margin-bottom: 6px; }
  .plan-detail__payment {
    overflow: hidden;
    background-color: #414042;
    border-radius: 5px;
    padding: 20px 15px 0 15px;
    cursor: pointer;
    color: white;
    box-shadow: 0 -2px 0 #29b6f6; }
    @media (min-width: 960px) {
      .plan-detail__payment {
        padding: 32px 15px 0 15px; } }
    .plan-detail__payment img {
      max-width: 135px;
      max-height: 36px; }

.payment {
  font-size: 13px; }
  .payment__header {
    padding-bottom: 20px;
    cursor: pointer; }
    @media (min-width: 960px) {
      .payment__header {
        padding-bottom: 32px; } }
  .payment__data {
    height: 0;
    min-height: 0;
    padding: 0;
    color: #89878c;
    transition: 300ms; }
    .payment__data--show {
      transition: 300ms;
      height: auto;
      padding-bottom: 20px; }
  .payment__code-input {
    color: white;
    max-width: 200px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px; }
  .payment__code-text {
    color: white;
    text-transform: uppercase; }
  .payment__body {
    font-size: 14px; }

.plans-container .arr-sm {
  width: 16px;
  height: 16px;
  vertical-align: middle; }

.plans-container .more {
  display: inline-block;
  float: left;
  text-decoration: none;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #29b6f6;
  text-transform: uppercase; }
  @media (min-width: 960px) {
    .plans-container .more {
      position: absolute;
      top: 430px;
      display: block; } }

@media (min-width: 960px) {
  .plan-detail-left {
    float: left;
    display: inline-block;
    padding-right: 30px;
    height: 420px; } }

@media (min-width: 960px) {
  .plan-detail-right {
    display: inline-block;
    float: left;
    width: 40%; } }

.mus-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 200ms ease-in;
  pointer-events: none;
  z-index: -100; }
  .mus-modal--active {
    opacity: 1;
    z-index: 1000;
    pointer-events: all;
    transition: all 200ms ease-in; }
  .mus-modal__container {
    background: white;
    color: #414042;
    border-radius: 9px;
    min-width: 300px;
    max-width: 450px;
    padding: 30px;
    z-index: 10001;
    text-align: center; }
    @media (min-width: 430px) {
      .mus-modal__container {
        min-width: 430px; } }
  .mus-modal__icon {
    margin: 40px 0; }
  .mus-modal__title {
    margin: 0 0 20px 0;
    font-size: 18px; }
  .mus-modal__body {
    font-size: 16px;
    margin-bottom: 40px; }
  .mus-modal .mus-btn {
    max-width: 200px;
    margin: 0 auto; }
