.mus-btn{
  border-radius: 5px;
  background-color: white;
  color: #414042;
  padding: 12px 30px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  transition: 100ms;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;

  &:hover{
    @media($desktop){
      transition: 200ms;
      color: white;
      background-color: $colBlue;
    }
  }

  &:active{
    transition: 0s;
    color: white;
    background-color: darken($colBlue, 20%);
  }

  &--block{
    display: block;
    width: 100%;
  }

  &--primary{
    background-color: $colBlue;
    color: white;
    @media ($desktop){
      transition: 200ms;
      &:hover{
        background-color: darken($colBlue, 10%);
      }
    }
  }

  &--white{
    background-color: white;
    color: #414042;
    &:hover{
      @media($desktop){
        transition: 200ms;
        color: white;
        background-color: #414042;
      }
    }
  }
}
