%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%hide-text{
  overflow:hidden;
  text-indent:-9000px;
  display:block;
}

.centered{
  text-align: center;
}
