@charset "UTF-8";

// Imports
@import 'normalize';
@import "variables";
@import "buttons";
@import "helpers";

$desktop : 'min-width: 769px';
$cardWidth : 300px;

*, *:before, *:after {
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  height: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

body{
  height: 100%;
  font-size: 16px;

  &.page-default{
    padding: 30px 15px;
    @media (min-width: 768px){
      padding: 60px 30px;
    }
  }
}

::selection {
  background: $colBlue;
  color: white;
}

.background-overlay{
  transition: background-image 200ms;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg-sm.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  @media($desktop){
    background-image: url('../img/bg.jpg');
  }

}

.mus-logo{
  @extend %hide-text;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0;
  width: 300px;
  height: 130px;

  &--dark{
    background-image: url('../img/logo-dark.svg');
  }
}

// Splash

.splash-pane{

  position: relative;
  text-align: center;
  width: 100%;
  padding: 60px 32px 30px 32px;

  @media(min-width: 768px){
    // center
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 570px;
  }

  .mus-logo{
    display: inline-block;
    width: 300px;
    width: 300px;
    height: 130px;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .btn-action{
    background-color: white;
    color: #414042;
    text-transform: uppercase;
    display: block;
    margin: 0 auto 10px auto;
    max-width: 200px;
    font-size: 18px;
    @media(min-width: 768px){
      display: inline-block;
      margin: 0 10px 0 0;
      width: 180px;
    }
  }

  .small-print{
    font-size: 75%;
  }
}

.splash-subtitle{
  font-size: 20px;
  font-family: "Lato";
  font-weight: normal;
  margin-bottom: 40px;
  margin-top: 0;
}

.splash-buttons{
  margin-bottom: 40px;
}

.copy{
  float: right;
  margin: 0 8px 8px 0;
  color: #a7a7a7;
  font-size: 13px;
  line-height: 1;

  @media(min-height: 580px){
    position: absolute;
    margin: 0;
    bottom: 12px;
    right: 12px;
  }

  .page-planes &{
    float: none;
    width: $cardWidth;
    margin: 0 auto;
    text-align: right;
    position: relative;
    right: initial;
    bottom: initial;
    @media(min-width: 960px){
      position: absolute;
      margin: 0;
      bottom: 12px;
      right: 12px;
    }
  }
}

// Log in / Register

.header{
  margin: 0 auto 30px auto;
  @extend %clearfix;

  @media (min-width: 768px){
    margin: 0 auto 90px auto;
  }

  .mus-logo{
    width: 100px;
    float: left;
    vertical-align: middle;
    height: 55px;
    margin-right: 10px;
    @media (min-width: 768px){
      width: 200px;
      height: 100px;
    }
  }
}

.title-first{
  font-size: 22px;
  color: $colBlue;
  font-weight: normal;
  float: left;
  vertical-align: middle;
  margin: 22px 0 0 0;
  @media (min-width: 768px){
    font-size: 46px;
    font-weight: 300;
    margin: 28px 0 0 0;
  }
}

.modal-title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.mus-container{
  background-color: white;
  border-radius: 5px;
  color: #333;
  padding: 15px 30px;
  margin: 0 auto 30px auto;

  &--small{ max-width: 320px; }

  &--blue{
    color: white;
    background-color: #29b6f6;
  }

  p{ margin-top: 0; }

  .form-items-padded{
    padding: 30px 0;
  }

}

.btn-social{
  display: block;
  background-color: $colBlue;
  color: white;
  margin-bottom: 6px;
  transition: 200ms;

  &--facebook{
    background-color: #415b91;
    &:hover{
      transition: 200ms;
      @media ($desktop){
        background-color: darken(#415b91, 10%);
      }
    }
  }
  &--twitter{
    background-color: #5eaed8;
    @media ($desktop){
      transition: 200ms;
      &:hover{
        background-color: darken(#5eaed8, 10%);
      }
    }
  }
  &--google{
    background-color: #db4e3f;
    @media ($desktop){
      transition: 200ms;
      &:hover{
        background-color: darken(#db4e3f, 10%);
      }
    }
  }
}

.login-buttons{
  margin-bottom: 30px;
}

.form-row{
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
}

.input-line{
  background: none;
  border: none;
  border-bottom: 1px solid #a4a3a0;
  width: 100%;
  outline: 0;
  text-align: center;
  font-size: 14px;

  &::-webkit-input-placeholder {
   color: 414042;
   text-transform: uppercase;
  }
}

.terms{
  font-size: 14px;
  span{
    vertical-align: bottom;
    line-height: 14px;
  }
}

.mus-checkbox{
  border: none;
  margin-right: 5px;
  outline: 0;
}

input[type=checkbox]:after {
  content: " ";
  background-color: #dcdcdc;
  display: inline-block;
  visibility: visible;
  width: 15px;
  height: 15px;
}


input[type=checkbox]:checked:after {
  background-color: $colBlue;
  border: 3px solid #dcdcdc;
}

.plans-container{
  text-align: center;
  margin: 0 auto;
  @extend %clearfix;
}

.plan-separator{
  display: none;
  @media(min-width: 960px){
    height: 300px;
    margin-top: 30px;
    width: 1px;
    display: inline-block;
    margin-right: 15px;
    background-color: $colBlue;
    min-height: 100px;
  }
}

.plan-card{

  width: $cardWidth;
  margin-bottom: 15px;
  padding: 20px;
  position: relative;
  min-height: 250px;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;

  @media(min-width: 960px){
    display: inline-block;
    min-height: 400px;
    vertical-align: top;
    margin-right: 15px;
    height: 400px;
    width: 275px;

  }

  &--nopadding{
    padding: 0;
    overflow: hidden
  }

  &__info{
    position: absolute;
    bottom: 25px;
    width: calc(100% - 40px);
  }

  &__title{
    font-weight: 300;
    font-size: 25px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;

    @media(min-width: 960px){
      display: block;
      font-size: 35px;
    }

    &--uruguay{
      color: $colBlue;
      font-size: 28px;
      @media(min-width: 960px){
        font-size: 30px;
      }
    }

    &--internacional{
      color: $colBlue;
      font-weight: normal;
      font-size: 19px;
      @media(min-width: 960px){
        font-size: 30px;
        font-weight: 300;
      }
    }


  }

  .mus-logo{
    width: 78px;
    display: inline-block;
    height: 43px;
    vertical-align: middle;
    margin-bottom: 12px;
    @media(min-width: 960px){
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 60px;
      &--mt{ margin-top: 15px; }
      &--mb{ margin-bottom: 15px; }
    }
  }

  &__code{
    border: none;
    border-bottom: 1px solid white;
    background: none;
    width: 100%;
    outline: 0;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__code-text{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__body{
    line-height: 21px;
    margin-bottom: 15px;
    @media(min-width: 1000px){
      font-size: 12px;
      line-height: 1.1;
    }
  }

  &--uruguay{
    background-image: url(../img/gaucho.jpg);
    @media(min-width: 960px){
      background-image: url(../img/gaucho-sm.jpg);
    }
  }
  &--internacional{
    background-image: url(../img/astronauta.jpg);
    @media(min-width: 960px){
      background-image: url(../img/astronauta-sm.jpg);
    }
  }

  &--tall{
    min-height: 300px;
  }
}


.user-info{
  position: absolute;
  top: 25px;
  right: 25px;

  &__name{
    display: none;
    font-size: 16px;
    font-weight: 300;
    margin-right: 5px;
    @media (min-width: 550px){
      display: inline-block;
    }
  }

  &__img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: inline-block;
    vertical-align: middle;
  }
}

.plan-detail{
  background-color: transparent;
  min-height: 700px;
  height: auto;

  @media(min-width: 960px){
    width: 900px;
    min-width: 900px;
    margin-right: 0;
  }

  &__img{
    max-width: 100%;
    display: block;
    @media(min-width: 960px){
      display: none;
    }

    &--desktop{
      display: none;
      border-radius: 5px;
      @media(min-width: 960px){
        display: block;
      }
    }
  }

  &__details{
    background-color: #29b6f6;
    color: white;
    padding: 20px 0;
    font-weight: bold;
    font-size: 29px;
    border-radius: 0;
    span{
      display: inline-block;
      vertical-align: middle;
    }
    @media (min-width: 960px){
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &__currency{
    padding-bottom: 1px;
  }

  &__select{
    font-size: 15px;
  }

  &__cost{
    font-size: 55px;
  }

  &__monthly{
    vertical-align: top;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 1;
  }

  &__payments{
    background: #414042;
    border-radius: 5px;
    margin-bottom: 6px;
  }

  &__payment{
    overflow: hidden;
    background-color: #414042;
    border-radius: 5px;
    padding: 20px 15px 0 15px;
    cursor: pointer;
    color: white;
    box-shadow: 0 -2px 0 #29b6f6;

    @media (min-width: 960px){
      padding: 32px 15px 0 15px;
    }

    img{
      max-width: 135px;
      max-height: 36px;
    }

  }
}

.payment{

  font-size: 13px;

  &__header{
    padding-bottom: 20px;
    cursor: pointer;
    @media (min-width: 960px){
      padding-bottom: 32px;
    }
  }

  &__data{
    height: 0;
    min-height: 0;
    padding: 0;
    color: #89878c;
    transition: 300ms;

    &--show{
      transition: 300ms;
      height: auto;
      padding-bottom: 20px;
    }
  }

  &__code-input{
    color: white;
    max-width: 200px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }

  &__code-text{
    color: white;
    text-transform: uppercase;
  }

  &__body{
    font-size: 14px;
  }

}

.plans-container{

  .arr-sm{
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  .more{
    display: inline-block;
    float: left;
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    text-align: left;
    color: #29b6f6;
    text-transform: uppercase;
    @media (min-width: 960px){
      position: absolute;
      top: 430px;
      display: block;
    }
  }

}

.plan-detail-col{

}

.plan-detail-left{
  @media(min-width: 960px){
    float: left;
    display: inline-block;
    padding-right: 30px;
    height: 420px;
  }
}

.plan-detail-right{
  @media(min-width: 960px){
    display: inline-block;
    float: left;
    width: 40%;
  }
}


.mus-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 200ms ease-in;
  pointer-events: none;
  z-index: -100;


  &--active{
    opacity: 1;
    z-index: 1000;
    pointer-events: all;
    transition: all 200ms ease-in;
  }

  &__container{
    @extend %centerer;
    background: white;
    color: #414042;
    border-radius: 9px;
    min-width: 300px;
    max-width: 450px;
    padding: 30px;
    z-index: 10001;
    text-align: center;
    @media (min-width: 430px){
      min-width: 430px;
    }
  }

  &__icon{
    margin: 40px 0;
  }

  &__title{
    margin: 0 0 20px 0;
    font-size: 18px;
  }

  &__body{
    font-size: 16px;
    margin-bottom: 40px;
  }

  .mus-btn{
    max-width: 200px;
    margin: 0 auto;
  }
}
